<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit temporibus
    hic atque rerum nulla .
  </p>
  <footer>
    <div class="media">
      <div class="media__image"></div>
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#line"></use>
      </svg>
      <div class="media__body">
        <h3 class="media__title quote__author">Ramazan Aydemir</h3>
        <p class="quote__orginaziton">KENDI Company</p>
      </div>
    </div>
  </footer>
</blockquote>
